/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  Screen reader
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.header_wrapper {
  display: flex;
  width: 90%;
  padding: 1.3rem;
  margin: auto;
}

.download_btn {
  padding: 0.25rem 0.75rem;
  border: 2px #dfe0e4 solid;
  border-radius: 30px;
}

a.nav_btn, .download_btn a {
  text-decoration: none;
  color: black;
}

.download_btn a {
  display: flex;
  align-items: center;
  gap: .1rem;
}

.download_btn img {
  height: 1rem;
  color: blue;
}

.nav_btn {
  padding: 0.25rem 1rem;
}

.menu_wrapper {
  display: flex;
  margin-left: auto;
  gap: 10px;
  /* list-style-type: none; */
}

.hero-img {
  background-image:url('https://forever.travel-assets.com/flex/flexmanager/images/2024/03/06/VRBO_OOH_TRUST_LISBON_HOUSE_NATACHA_WIDE_BACKDOOR_HUMM_0004.jpg');
  background-size: cover;
  background-position: 25% 75%;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
}